
.todo:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.todo-header, .todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin: 10px;
}

.todo-header p {
    margin-bottom: 0 !important;
}

.todo-header__check {
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.todo-header__check:hover {
    transform: scale(1.2);
}

.todo-header__delete {
    color: gray;
    transition: all 0.3s ease;
    cursor: pointer;
}

.todo-header__delete:hover {
    color: red;
    transform: scale(1.1);
}

.strike, .unstrike {
    position: relative;
}

.strike::after, .unstrike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background: black;
    transition: all 0.3s ease;
}

.strike::after {
    width: 100%;
}

.unstrike::after {
    width: 0%;
}
